<div class="modal-header">
    <h4 class="modal-title">Nuevo servicio</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-inline justify-content-center">
      <ngb-datepicker #dp [(ngModel)]="fecha" (navigate)="date = $event.next"></ngb-datepicker>
    </div>
    <div class="form-inline justify-content-center" *ngIf="isAdmin();">
      <app-clientes-select (selectClienteEvent)="receiveSelectedClienteEvent($event)"></app-clientes-select>
    </div>
    <br>
    <button (click)="this.alquilarVehiculo()" class="btn btn-success btn-sm btn-block">
        <i class="fas fa-save"></i>
    </button>

</div>
