<div class="row">
    <div class="col" *ngIf="this.isAdmin()">
        <h3>Vehículos</h3>
    </div>
    <div class="col" *ngIf="!this.isAdmin()">
      <h3>Vehículos disponibles para alquilar</h3>
    </div>
    <div class="col" *ngIf="this.isAdmin()">
        <button class="btn btn-success" (click)="add()">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>
<hr>
<div class="row justify-content-center" *ngIf="this.isAdmin()">
    <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm" [formGroup]="this.filterForm">
            <div class="card-body row no-gutters align-items-center" formGroupName="searchTextForm">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>
                <!--end of col-->
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" name="searchText" formControlName="searchText" type="search" placeholder="Buscar vechiculos">
                </div>
                <!--end of col-->
            </div>
        </form>
    </div>
    <button  *ngIf="this.isAdmin()" type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" title="Ver más filtros">
        <i class="fas fa-filter"></i>
    </button>
    <!--end of col-->
</div>
<br>

<div id="collapseExample" [ngbCollapse]="isCollapsed" *ngIf="this.isAdmin()">
    <div class="card">
        <div class="card-body" [formGroup]="this.filterForm">
            <form class="form-inline" formGroupName="extendedFilterForm">
              <div class="form-check margin-left-cog" *ngIf="isAdmin();">
                  <input class="form-check-input" type="checkbox" id="gridCheck1" formControlName="pendientesDevolucion">
                  <label class="form-check-label" for="gridCheck1">
                    Pendientes devolución
                  </label>
              </div>
              <div class="form-check margin-left-cog" *ngIf="isAdmin();">
                  <input class="form-check-input" type="checkbox" id="gridCheck2" formControlName="disponibles">
                  <label class="form-check-label" for="gridCheck2">
                    Disponibles
                  </label>
              </div>
            </form>
            <br>
            <button type="button" class="btn btn-primary btn-sm btn-block" (click)="buscarPorFiltros()">Aplicar filtros</button>
        </div>
    </div>
</div>

<br>

<div class="card-columns" *ngIf="this.vehiculos.length > 0">
    <div class="card grow" [class.border-danger]="vehiculo.alquilado" *ngFor="let vehiculo of this.vehiculos">
        <div class="card-body text-center">
            <h5 class="card-title">{{vehiculo.patente}}</h5>
            <p class="card-text">{{vehiculo.descripcion}}</p>
            <p class="card-text" *ngIf='!vehiculo.alquilado'><small class="text-muted">Disponible para alquiler</small></p>
            <p class="card-text" *ngIf='vehiculo.alquilado'><small class="text-muted">No disponible para alquiler</small></p>
            <div class="row justify-content-center">
                <button class="btn btn-success" *ngIf='!vehiculo.alquilado' (click)="this.alquilarVehiculo(vehiculo)">Alquilar</button>
                <button class="btn btn-danger" *ngIf='vehiculo.alquilado' (click)="this.devolverVehiculo(vehiculo)">Devolver</button>
                <div class="dropdown margin-left-cog" *ngIf="!vehiculo.alquilado && this.isAdmin()">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" [routerLink]="" (click)="this.edit(vehiculo)">Editar</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<p *ngIf="this.vehiculos.length === 0">No hay vehiculos disponibles para mostrar.</p>
