<div class="row">
  <div class="col">
      <h3>Mis alquileres</h3>
  </div>
</div>
<hr>
<div class="card-columns" *ngIf="this.servicios.length > 0">
  <div class="card" [class.border-danger]="servicio.fecCancelacion !== null" [class.border-success]="servicio.fecCancelacion === null" *ngFor="let servicio of this.servicios">
    <div class="card-body">
      <h5 class="card-title">Servicio de alquiler Nº: {{ servicio.nroReserva }}</h5>
      <p class="card-text">Fecha de contratación: {{ servicio.fecServicio | date: 'dd/MM/yyyy' }}</p>
      <p class="card-text" *ngIf="servicio.fecCancelacion !== null">Fecha de cancelación: {{ servicio.fecCancelacion | date: 'dd/MM/yyyy' }}</p>
      <button class="btn btn-danger" *ngIf='!servicio.fecCancelacion' (click)="this.cancelarServicio(servicio)">Cancelar servicio</button>
    </div>
  </div>
</div>

<p *ngIf="this.servicios.length === 0">No hay servicios disponibles para mostrar.</p>


