<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/brand-car.jpg" height="60" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['']"><i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item" *ngIf="this.isAdmin()">
                <a class="nav-link" href="#" [routerLink]="['clientes']">Clientes</a>
            </li>
            <li class="nav-item" *ngIf="this.isAdmin()">
                <a class="nav-link" href="#" [routerLink]="['servicios']">Servicios</a>
            </li>
            <li class="nav-item" *ngIf="this.isAuth()">
                <a class="nav-link" href="#" [routerLink]="['vehiculos']">Vehiculos</a>
            </li>
            <li class="nav-item" *ngIf="this.isAuth() && !this.isAdmin()">
                <a class="nav-link" href="#" [routerLink]="['servicios/mis-alquileres']">Mis Alquileres</a>
            </li>
        </ul>
    </div>
    <div class="form-inline my-2 my-lg-0" *ngIf="this.isAuth()">
      <p>Bienvenido {{userName}}!</p>
      <button class="btn btn-success btn-sm margin-left" (click)="logOut()">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </div>

</nav>
