<div class="row">
    <div class="col">
        <h3>Clientes</h3>
    </div>
    <div class="col">
        <button class="btn btn-success" (click)="add()">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>
<hr>
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm" [formGroup]="this.filterForm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>
                <!--end of col-->
                <div class="col">
                    <input (input)="onSearchChange($event.target.value)" class="form-control form-control-lg form-control-borderless" name="searchText" formControlName="searchText" type="search" placeholder="Buscar vechiculos">
                </div>
                <!--end of col-->
                <!-- <div class="col-auto">
                    <button class="btn btn-lg btn-success" type="submit">Buscar</button>
                </div> -->
                <!--end of col-->
            </div>
        </form>
    </div>
    <!--end of col-->
</div>
<br>
<div class="card-columns">
    <div class="card grow" [class.border-danger]="!cliente.activo" *ngFor="let cliente of this.clientes">
        <div class="card-body text-center">
            <h5 class="card-title">{{cliente.apellido}}, {{cliente.nombre}}</h5>
            <div class="row justify-content-center">
                <button class="btn btn-primary" *ngIf='cliente.activo' (click)="this.bloquear(cliente)">
                    <i class="fas fa-lock"></i>
                </button>
                <button class="btn btn-primary" *ngIf='!cliente.activo' (click)="this.desbloquear(cliente)">
                    <i class="fas fa-lock-open"></i>
                </button>
                <div class="dropdown margin-left-cog">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" [routerLink]="" (click)="this.edit(cliente)">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>