<div class="modal-header">
    <h4 class="modal-title">Mi nuevo vehículo</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="this.newVehiculoForm" (ngSubmit)="onSubmit()">
        <input type="text" class="form-control" name="patente" placeholder="Patente" formControlName="patente">
        <br/>

        <input type="text" class="form-control" name="descripcion" placeholder="Descripción" formControlName="descripcion">

        <br/>
        <button type="submit" class="btn btn-success btn-sm btn-block">
            <i class="fas fa-save"></i>
        </button>
    </form>

</div>